<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">

<head>
	<th:block th:replace="plantilla/template :: cabecera"> </th:block>
</head>


<body>
	<div th:insert="plantilla/head :: div"> </div>

	<h1 class="text-white">Nova sucursal</h1>

	<form th:action="@{/sucursal/guardar}" th:object="${Sucursal}" method="post">

		<div class="form-group row">
			<label class="col-lg-3 col-form-label form-control-label text-center text-white required">Nom
				Sucursal</label>
			<div class="col-lg-3">
			<input type="text" th:field="*{nomSucursal}" placeholder="Nom Sucursal" class="form-control mb-4 col-4"> <br>
			</div>
			</div>
			<div class="form-group row">
			<label class="col-lg-3 text-center text-white required">Pais		Sucursal</label>
			<div class="col-lg-3">
			<input type="text" th:field="*{paisSucursal}" placeholder="Pais Sucursal" class="form-control mb-4 col-4"> <br>
			</div>
	</div>
	<div class="form-group row">
	<div class="col-lg-9 text-center">
	<button type="submit" class= "btn btn-info col-2"> Save Changes</button>
	<a class="btn btn-danger" th:href="@{/sucursal/}" role="button">Cancel</a>
	</div>
	</div>
	 </form>
</body>

</html>